.sidebar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.20);
}

.newCampaign {
    background: linear-gradient(90deg, #D400A2 0%, #5042F4 97.5%);
}

.navActive {
    background-color: rgba(80, 66, 244, 0.08) !important;
}